*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.box{
    border: 3px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px;
    /* top/bottom left right for shorthand */
    /* padding: 20px 30px; */
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
    /* shorthand top right bottom left */
    /* padding: 10px 20px 30px 40px; */

}
h1{
    border: 6px solid violet;
    padding: 20px 30px 20px 30px;
    /* margin: 40px; */
    /* shorthand top/bottom left/right */
    /* margin:30px 50px; */
    /* shorthand top right bottom left */
    margin: 10px 20px 30px 40px;

}